.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

body {
    min-height: 10rem;
    padding-top: 55px;
  }  

#forkongithub a{
    box-sizing: content-box;
    background:#000;
    color:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}
#forkongithub a:hover{
    background:#c11;
    color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}
#forkongithub a::after{
    bottom:1px;
    top:auto;
}
@media screen and (min-width:800px){
    #forkongithub{
        position:absolute;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
        z-index:9999;
    }
    #forkongithub a{
        width:200px;
        position:fixed;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}

.toc
{
    margin-top: 56px;
    left:auto;
    background: #eee;
    width: 20%;
    border: 1px solid #ddd;
    color: #333;
}
.toc > ul
{
    list-style-type: none;
    margin: 8px;
    padding: 0px;
}
.toc a {
    color: #333;
}
.toc .toc-h3 {
    margin-left: 10px
}
.toc .toc-h4 {
    margin-left: 20px
}
.toc-active {
    color: #000;
    font-weight: bold;
}
.toc.right {
    right: 0
}

blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
background: #eee;
}

span.emoji-sizer
{
line-height: 0.81em;
font-size: 2em;
margin: -9px 0;
}

pre{
    background: #eee;
}

h1{
	font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 25;
}

.found {
	font-weight: bold;
	color: red;
}

.filefound {
	font-weight: bold;
  	font-size: 19px;
}

.textfound {
	font-weight: normal;
	color: grey;
  	font-size: 14px;	
	width: 50%;
}

.letter {
	font-weight: bold;
  	font-size: 22px;	
}

.file {
	font-weight: bold;
	color: grey;
}

.fileletter {
	font-weight: bold;
	color: grey;
  	font-size: 14px;
}

.particularite {
    background-color: #17a2b8;
    border-radius: 5px;
}

.particularite>a {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.particularite>a:hover {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.contained {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.flexalign
{
display:flex;
align-items: left;
}
.flexwrap
{
justify-content:left;
flex-wrap: wrap;
}

.imagepreview
{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ddd;
    text-align: center;
    padding: 7px;
   display:block;
   margin:auto;
}

.alert {
    display: none;
    position: fixed;
    font-weight: bold;
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1500000;
}

.imagepreview img
{
   max-width: 100%;
   height: auto;
   min-height: 150px;
}

.imagepreview:hover
{
	opacity: 0.7;
}

#content > p > img
{
    max-width: 100%;
}
#content
{
    padding-bottom: 25px;
    padding-top: 10px;
}
